/OnlineFetva-ejb-client/target/
/OnlineFetva-ejb/target/
/OnlineFetva-web/target/
/OnlineFetva-ear/target/
/PhotoService-ear/target/
/PhotoService-ejb/target/
/PhotoService-web/target/
/PhotoService-ejb-client/target/